$white: #FAFAFA;
$white_ligth: #FFFFFF;
$white_dark: #C7C7C7;

$main: #95C0DC;
$main_ligth: #C7EAE4;
$main_dark: #6085B7;

$secondary: #481887;
$secondary_light: #73489F;
$secondary_dark: #171150;

$black: #424242;
$black_ligth:#6D6D6D ;
$black_dark:#1B1B1B;