//$size:  59.0625vw;
.landing-page{
    .landing-sections{
        display: grid;
        width: 100%;
        min-height: 100vh;
        grid-template-columns: 50% 1fr;
        position: relative;
        
        .landing__section-a{
            grid-column: 2/3;
            grid-row: 1/2;
            position: relative;
        }
        .landing__section-b{
            grid-column: 1/2;
            grid-row: 1/2;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
        }
        p, sub{
            box-sizing: border-box;
            padding-right: .5rem;
        }
        .landing-img{
            width: 100%;
            background-repeat: no-repeat;
            background-size:  contain;
            background-position: right;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        .button-container{
            margin-top: 1rem;
        }
        form{
            width: 100%;
            .secondary-button{
                margin-top: 2rem;
            
            }
        }
    }
    .one{
        p{
            width: 56vw;
            border: solid 1px red;
        }
        .landing__section-b{
            padding-top: 30%;
        }
        .landing-img{
            background-image: url("img/inicio.png");
        }
    }
    .two{
        .landing-img{
            background-image: url("img/nosotros.png")
        }
        .button{
            margin-top: 1rem;
        }
    }
    .three{
        .landing-img{
            background-image: url("img/paquete_reunion.png");
        }
    }
    .four{
        .landing-img{
            background-image: url("img/paquete_basico.png");
        }
    }
    .five{
        .landing-img{
            background-image: url("img/paquete_inter.png");
        }
    }
    .six{
        .landing-img{
            background-image: url("img/paquete_avanzado.png");
        }
    }
    .seven{
        .landing-img{
            background-image: url("img/contactanos.png");
        }
    }
}
/*-----------------Small PC media querys-------*/
@media only screen and(max-width: 1000px){
    .landing-page{
        .one{
            h1{
                font-size: 3rem;
            }
            p{
                width: 100%;
            }
            .landing-img{
                background-image: url("img/small_pc/inicio.png");
            }
        }
        .two{
            .landing-img{
                background-image: url("img/small_pc/nosotros.png")
            }
            .button{
                margin-top: 1rem;
            }
        }
        .three{
            .landing-img{
                background-image: url("img/small_pc/paquete_reunion.png");
            }
        }
        .four{
            .landing-img{
                background-image: url("img/small_pc/paquete_basico.png");
            }
        }
        .five{
            .landing-img{
                background-image: url("img/small_pc/paquete_inter.png");
            }
        }
        .six{
            .landing-img{
                background-image: url("img/small_pc/paquete_avanzado.png");
            }
        }
        .seven{
            .landing-img{
                background-image: url("img/small_pc/contactanos.png");
            }
        }

    }
}
/*-----------------Tiny PC media querys-------*/
@media only screen and(max-width: 850px){
    .landing-page{
        .one{
            h1{
                font-size: 2rem;
            }
            .landing-img{
                background-image: url("img/tiny_pc/inicio.png");
            }
        }
        .two{
            .landing-img{
                background-image: url("img/tiny_pc/nosotros.png")
            }
            .button{
                margin-top: 1rem;
            }
        }
        .three{
            .landing-img{
                background-image: url("img/tiny_pc/paquete_reunion.png");
            }
        }
        .four{
            .landing-img{
                background-image: url("img/tiny_pc/paquete_basico.png");
            }
        }
        .five{
            .landing-img{
                background-image: url("img/tiny_pc/paquete_inter.png");
            }
        }
        .six{
            .landing-img{
                background-image: url("img/tiny_pc/paquete_avanzado.png");
            }
        }
        .seven{
            .landing-img{
                background-image: url("img/tiny_pc/contactanos.png");
            }
        }

    }
}
/*Tablet media querys */
@media only screen and (min-width:500px)  and (min-height:900px){
    .landing-sections{
        grid-template-columns: 1fr 44.01vw;
    }

  .landing-page{
    .one{
        .landing-img{
            background-image: url("img/tablet/inicio.png");
        }
    }
    .two{
        .landing-img{
            background-image: url("img/tablet/nosotros.png")
        }
        .button{
            margin-top: 1rem;
        }
    }
    .three{
        .landing-img{
            background-image: url("img/tablet/paquete_reunion.png");
        }
    }
    .four{
        .landing-img{
            background-image: url("img/tablet/paquete_basico.png");
        }
    }
    .five{
        .landing-img{
            background-image: url("img/tablet/paquete_inter.png");
        }
    }
    .six{
        .landing-img{
            background-image: url("img/tablet/paquete_avanzado.png");
        }
    }
    .seven{
        .landing-img{
            background-image: url("img/tablet/contactanos.png");
        }
    }
  }
}
@media only screen and(max-width: 700px){
 
    //$size:  59.0625vw;
.landing-page{
    .one{
        position: relative;
        .landing-img{
            background-image: url("img/cellphone/inicio.png");            
        }
        .button-container{
            position: absolute;
            bottom: 5%;
        }
        .landing__section-b{
            padding: 50% 1.5rem 0 1.5rem;
        }
        sub{
            width: 100%;
            text-align: center;
        }
    }
    .two{
        .landing-img{
            background-image: url("img/cellphone/nosotros.png")
        }
        .button{
            margin-top: 1rem;
        }
        p{
            width: 100%;
        }
    }
    .three{
        .landing-img{
            background-image: url("img/cellphone/paquete_reunion.png");
        }
    }
    .four{
        .landing-img{
            background-image: url("img/cellphone/paquete_basico.png");
        }
    }
    .five{
        .landing-img{
            background-image: url("img/cellphone/paquete_inter.png");
        }
    }
    .six{
        .landing-img{
            background-image: url("img/cellphone/paquete_avanzado.png");
        }
    }
    .seven{
        .landing-img{
            background-image: url("img/cellphone/contactanos.png");
        }
    }
    .landing__section-a{
        margin-top: 1rem;
        width: 100%;
        height:  86.94vw;
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
   
    
    .landing-sections{
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content;
        p{
            width: 100%;
            padding: 0;
        }
        .landing__section-a{
            grid-column: 1/2;
            grid-row: 2/3;
            .landing-img{
                position: static;
                width: calc(100% - 1rem);
                background-position: center;
                background-size: cover;
            }
        }
        .landing__section-b{
            grid-column: 1/2;
            grid-row: 1/2;
        }   
    }
    .one{
        .landing__section-a{
            position: static;
            .landing-img{
                width: 100%;
                background-image: url("img/cellphone/inicio.png");
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                }
            }
        }
    }
}